body{
	margin:0;
	display:flex;
	background-color:#F5F5F5;`
}
#sidebar{
	background-color:white;
	color:black;
	width:200px;
	height:100%;
	padding:20px;
}

img{
	margin:auto;
	display:block;
	width: 100%;
	height: 100%;
	max-width:130px;
	max-height: 130px;
	border-radius: 50%;
	border:1px solid #E0E0E0;
}

#name{
	text-align:center;
	font-size:24px;
	margin-bottom:10px;
}

.element{
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
	font-size:20px;
}

#items{
	
}

.item{
	display:flex;
	margin:40px;
	width:300px;
	background-color:#FFFFFF;
	border:1px solid #E0E0E0;
	padding:10px;
}

.content{
	margin-left:30px;
}
.app{
	font-size:24px;
	margin-bottom:10px;
}